body {
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
.container {
    width: 100%;
    max-width: 700px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.header .title {
    text-align: left;
    font-weight: bold;
    color: #ff6600;
}
.header img {
    width: 200px;
    height: auto;
}
.section {
    margin-top: 5px;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}
.bold {
    font-weight: bold;
    color: #ff6600;
}
.black {
    color: black;
}
.no-border {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.no-border td {
    padding: 8px;
    text-align: left;
    border: none; /* Elimina los bordes */
}

